In [1]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%config InlineBackend.figure_format='retina'

In [6]:
data=pd.read_csv('Train_Data.csv')
test=pd.read_csv('Test_Data.csv')

In [7]:
data.head()

         age     sex        bmi smoker     region  children       charges
0  21.000000    male  25.745000     no  northeast         2   3279.868550
1  36.976978  female  25.744165    yes  southeast         3  21454.494239
2  18.000000    male  30.030000     no  southeast         1   1720.353700
3  37.000000    male  30.676891     no  northeast         3   6801.437542
4  58.000000    male  32.010000     no  southeast         1  11946.625900

In [8]:
test

           age     sex        bmi smoker     region  children
0    40.000000    male  29.900000     no  southwest         2
1    47.000000    male  32.300000     no  southwest         1
2    54.000000  female  28.880000     no  northeast         2
3    37.000000    male  30.568094     no  northeast         3
4    59.130049    male  33.132854    yes  northeast         4
..         ...     ...        ...    ...        ...       ...
487  51.000000    male  27.740000     no  northeast         1
488  33.000000    male  42.400000     no  southwest         5
489  47.769999    male  29.064615     no  northeast         4
490  41.530738  female  24.260852     no  southeast         5
491  36.000000    male  33.400000    yes  southwest         2

[492 rows x 6 columns]

In [15]:
target='charges'

x=data[['age','bmi']]
y=data[target]

In [16]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2022)

In [17]:
# Linear
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

model=LinearRegression()
cv_score=cross_val_score(model,x_train,y_train,cv=10)

print(cv_score)
print(cv_score.mean())

[0.02000965 0.14105087 0.14887232 0.09370713 0.13925962 0.12471807
 0.14493137 0.13197382 0.08829499 0.1080503 ]
0.11408681405740843

In [18]:
# KNN
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score

model=KNeighborsRegressor()
cv_score=cross_val_score(model,x_train,y_train,cv=10)

print(cv_score)
print(cv_score.mean())

[-0.05249642  0.20020989  0.08251214  0.06177096  0.16601411  0.06243413
  0.1136833   0.09993638  0.16721406  0.07219072]
0.09734692836138777

In [20]:
# 결정트리
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score

model=DecisionTreeRegressor(random_state=2022)
cv_score=cross_val_score(model,x_train,y_train,cv=10)

print(cv_score)
print(cv_score.mean())

[-0.36161796 -0.01501443 -0.21567386 -0.06643544 -0.16925972 -0.48215666
 -0.14173671 -0.17164158 -0.2330101  -0.21167015]
-0.20682165931469348

In [21]:
# SVM

from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score

model=SVR()
cv_score=cross_val_score(model,x_train,y_train,cv=10)

print(cv_score)
print(cv_score.mean())

[-0.05573313 -0.06096651 -0.10275198 -0.10741719 -0.09901478 -0.12943057
 -0.07541865 -0.10363093 -0.11838115 -0.07902189]
-0.09317667671068104

In [22]:
#평가

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error , r2_score

model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

print("MAE: ",mean_absolute_error(y_test,y_pred))
print("R2: ",r2_score(y_test,y_pred))

MAE:  7698.28091134694
R2:  0.1144031893026013